.vscode/
# Go binaries
*.exe
*.exe~
*.dll
*.so
*.dylib
*.test
*.out

# Go workspace file
go.work
go.work.sum

# Dependency directories
/vendor/

# Build artifacts
/build/

# Editor directories and files
.idea/
.vscode/
*.swp

# Operating System files
.DS_Store
Thumbs.db

# Log files
*.log

# Temporary files
*.tmp
tmp
# Diagnostic reports (https://nodejs.org/api/report.html)
report.[0-9]*.[0-9]*.[0-9]*.[0-9]*.json
.vscode

.env